# replace()

Values to the data frame are replaced with other values dynamically

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("Fortune_11.csv")

In [10]:
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,NaN,Techline,Health,2006,NaN,"5,470,303 Dollars",NaN,23%
6,7.0,NaN,Health,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180.0,18%
9,10.0,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [11]:
df.replace(to_replace = "Health",value= "Finance")   #to_replace takes the existing value...and Value takes what has to be replaced

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,Canecorporation,Finance,2012,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,Finance,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,NaN,Techline,Finance,2006,NaN,"5,470,303 Dollars",NaN,23%
6,7.0,NaN,Finance,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,Finance,2009,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180.0,18%
9,10.0,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [12]:
df.replace("Health","Finance")  #we can give the replacement values as it is without giving parametrs It works the same

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,Canecorporation,Finance,2012,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,Finance,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,NaN,Techline,Finance,2006,NaN,"5,470,303 Dollars",NaN,23%
6,7.0,NaN,Finance,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,Finance,2009,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180.0,18%
9,10.0,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [13]:
df.replace(10,15)   #changing integer values

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,NaN,Techline,Health,2006,NaN,"5,470,303 Dollars",NaN,23%
6,7.0,NaN,Health,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180.0,18%
9,15.0,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [31]:
df.replace([1,2,3,4,5,6,7,8,9,10],0)    #we can give the input as list in to_replace we can replace the 
                                        #specific column values with on value

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,0.0,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,0.0,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,0.0,Canecorporation,modify,2012,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,0.0,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,0.0,Techdrill,modify,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,NaN,Techline,modify,2006,NaN,"5,470,303 Dollars",NaN,23%
6,0.0,NaN,modify,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,0.0,Kayelectronics,modify,2009,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,0.0,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180.0,18%
9,0.0,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [15]:
df.replace([1,2,3,4,5,6,7,8,9,10],[11,21,32,42,43,53,53,12,32,23])    #in value also we can give 
                                                            # a list and change the coresponding values

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,11.0,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,21.0,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,32.0,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,42.0,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,43.0,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,NaN,Techline,Health,2006,NaN,"5,470,303 Dollars",NaN,23%
6,53.0,NaN,Health,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,12.0,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,32.0,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180.0,18%
9,23.0,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [16]:
df.replace(["Lamtone","Stripfind"],["hello","this is"])   #we can do the same thing for the strings as well

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,hello,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,this is,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,NaN,Techline,Health,2006,NaN,"5,470,303 Dollars",NaN,23%
6,7.0,NaN,Health,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180.0,18%
9,10.0,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [17]:
df.replace({"Name":"hello"},"none")   #we can change the values of a particular column by giving it in the form of dictionary

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,NaN,Techline,Health,2006,NaN,"5,470,303 Dollars",NaN,23%
6,7.0,NaN,Health,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180.0,18%
9,10.0,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [18]:
df.replace({"Name":"hello"},"none")

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,NaN,Techline,Health,2006,NaN,"5,470,303 Dollars",NaN,23%
6,7.0,NaN,Health,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180.0,18%
9,10.0,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [19]:
df.replace({"Name":"hello","Industry":"Health"},"none")  #multiple column

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,Canecorporation,none,2012,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,none,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,NaN,Techline,none,2006,NaN,"5,470,303 Dollars",NaN,23%
6,7.0,NaN,none,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,none,2009,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180.0,18%
9,10.0,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [20]:
df.replace('[A-Za-z]',0,regex = True)         #we can change the entire string values in the integer

     ID  Name  Industry  Inception       Revenue  Expenses      Profit Growth
0   1.0   0.0         0       2009  $11,757,018        0.0   5274553.0    30%
1   2.0   0.0         0       2010  $12,329,371        0.0  11412916.0    20%
2   3.0   0.0         0       2012  $10,597,009        0.0   3005820.0     7%
3   4.0   0.0         0       2013  $14,026,934        0.0   6597557.0    26%
4   5.0   0.0         0       2009  $10,573,990        0.0   3138627.0     8%
5   NaN   0.0         0       2006           NaN       0.0         NaN    23%
6   7.0   NaN         0       2010   $9,254,614        0.0   3005116.0     6%
7   8.0   0.0         0       2009   $9,451,943        0.0   5573830.0     4%
8   9.0   0.0         0       2011  $14,001,180        NaN  11901180.0    18%
9  10.0   0.0         0       2011  $11,088,336        0.0   5453060.0     7%

In [21]:
 df.replace({"Industry":"[A-Za-z]"},1,regex = True ) #if we want to replace in any specific column then we will use dictionary

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,1,2009,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,1,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,Canecorporation,1,2012,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,1,2013,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,1,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,NaN,Techline,1,2006,NaN,"5,470,303 Dollars",NaN,23%
6,7.0,NaN,1,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,1,2009,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,Ganzlax,1,2011,"$14,001,180",NaN,11901180.0,18%
9,10.0,Trantraxlax,1,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [22]:
df.replace(to_replace = "Health", method= "ffill") #health will be filled with forward fill

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,Canecorporation,Financial Services,2012,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,IT Services,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,NaN,Techline,IT Services,2006,NaN,"5,470,303 Dollars",NaN,23%
6,7.0,NaN,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180.0,18%
9,10.0,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [33]:
df.replace(to_replace = "Cityace", method= "bfill")

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,Canecorporation,modify,2012,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,modify,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,NaN,Techline,modify,2006,NaN,"5,470,303 Dollars",NaN,23%
6,7.0,NaN,modify,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,modify,2009,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180.0,18%
9,10.0,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [34]:
df.replace(to_replace = 2010, method= "ffill",limit = 1)   #limit will decide how many vales has to be changed

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2009,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,Canecorporation,modify,2012,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,modify,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,NaN,Techline,modify,2006,NaN,"5,470,303 Dollars",NaN,23%
6,7.0,NaN,modify,2006,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,modify,2009,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180.0,18%
9,10.0,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [35]:
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,Canecorporation,modify,2012,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,modify,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,NaN,Techline,modify,2006,NaN,"5,470,303 Dollars",NaN,23%
6,7.0,NaN,modify,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,modify,2009,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180.0,18%
9,10.0,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [36]:
df.replace(to_replace = "Health",value = "modify",inplace = True)   #now df has been updated or modified

In [37]:
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,Canecorporation,modify,2012,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,modify,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,NaN,Techline,modify,2006,NaN,"5,470,303 Dollars",NaN,23%
6,7.0,NaN,modify,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,modify,2009,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180.0,18%
9,10.0,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [38]:
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,Canecorporation,modify,2012,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,modify,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,NaN,Techline,modify,2006,NaN,"5,470,303 Dollars",NaN,23%
6,7.0,NaN,modify,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,modify,2009,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180.0,18%
9,10.0,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [39]:
pd.read_csv("Fortune_11.csv")

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,NaN,Techline,Health,2006,NaN,"5,470,303 Dollars",NaN,23%
6,7.0,NaN,Health,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180.0,18%
9,10.0,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%